@import url('https://fonts.googleapis.com/css?family=Barlow|Exo:300,400,500,600,700|Josefin+Sans:300,400,600,700|Montserrat:300,400,500,600,700,800|Nunito:300,400,600,700,800,900|Overpass:300,400,600,700,800&display=swap');



$exo: 'Exo', sans-serif;
$overpass: 'Overpass', sans-serif;
$barlow: 'Barlow', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$nunito: 'Nunito', sans-serif;
$montserrat: 'Montserrat', sans-serif;


$white: #ffffff;
$white2: #f5f5f5;
$white3: #f0f0f0;
$white3: #E2E1E1;
$border: #C8C8C8;
$gray: #B1B1B1;
$gray2: #8E8E8E;
$gray3: #858585;
$gray4: #6B6B6B;
$gray5: #545454;
$gray6: #444444;
$black3: #3A3C3F;
$black2: #131313;
$black: #0F0F0F;
$orange: #D97A49;
$orange2: #fc9258;
$orange3: #C57A4E;
$blue: #3ba9d1;