@import 'assets';

.property-page {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-page {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.detail-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 0 0 15px 0;
    max-width: 1400px;
}
.detail-gallery-column {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 90vh;
    overflow-y: scroll;
}

.detail-column {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    height: auto;
    overflow-y: scroll;
    position: relative;
}
.detail-sticky-container {
    position: relative;
    top: 0;
    background: #ffffff;
    width: 100%;
    border-bottom: 1px solid $gray5;
    z-index: 5;
}
.detail-row {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}
.detail-cta-row {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.detail-contact-button {
    width: 45%;
    height: 40px;
    color: $orange;
    font-family: $nunito;
    font-size: 18px;
    font-weight: 600;
    background: #fff;
    border: 1px solid $orange;
}
.detail-tour-button {
    width: 45%;
    height: 40px;
    font-family: $nunito;
    font-size: 18px;
    font-weight: 600;
    background: $orange;
    color: #fff;
    border: none;
}
.detail-address {
    font-family: $nunito;
    font-size: 20px;
    font-weight: 500;
    color: $black3;
    margin: 5px 0;
}

.detail-price {
    font-family: $nunito;
    font-size: 22px;
    font-weight: 700;
    color: $black3;
    margin: 5px 0 0px 0;
    padding: 0;
}

.detail-par {
    font-family: $nunito;
    color: $gray6;
    font-size: 16px;
    margin: 15px 10px 0 10px;
    padding: 0;
}
.detail-text {
    font-family: $nunito;
    color: $gray5;
    font-size: 18px;
    margin: 5px 0;
    padding: 0 10px;
    border-right: 1px solid $gray2;
}
.detail-text:last-child {
    border-right: none;
}

#grid-gallery {
    width: 100%;
    object-fit: cover;
}

.detail-facts-container {
    display: block;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: 5px;
    position: relative;
}
.detail-header3 {
    font-family: $nunito;
    font-size: 22px;
    color: $black2;
    width: 100%;
    margin: 25px 0;
    height: auto;
    position: relative;
}

.detail-header4 {
    font-family: $nunito;
    font-size: 18px;
    color: $black3;
    margin: 15px 0;
    position: relative;
}
.sub-fact-holder {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    width: 100%;
    position: relative;
}
.sub-fact-column {
    width: auto;
    min-width: 45%;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.detail-list {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.detail-list-item {
    font-size: 18px;
    color: $gray6;
    font-family: $nunito;

}

.carousel-container {
    height: 60vh;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    position: relative;
    overflow: hidden;
}
.back-button {
    position: absolute;
    top: 45%;
    left: 10px;
    height: 50px;
    width: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    background-image: url('../icons/keyboard_arrow_left-24px.svg');
    background-size: contain;
    background-repeat: no-repeat;

    // .material-icons {
    //     font-size: 35px;
    // }
}
.next-button {
    position: absolute;
    top: 45%;
    right: 10px;
    z-index: 2;
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    border: none;
    background-image: url('../icons/keyboard_arrow_right-24px.svg');
    background-size: contain;
    background-repeat: no-repeat;
    // .material-icons {
    //     font-size: 35px;
    // }
}
.carousel-img {
    width: auto;
    height: auto;
    max-width: 110vw;
    max-height: 70vh;
    display: block;
    margin: 0 auto;
}
.carousel-img-holder {
    max-height: 60vh;
    max-width: 100vw;
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 900px) {
    .carousel-container {
        width: 100vw;
        height: 70vw;
        margin: 0;
        padding: 0;
    }
    .carousel-img {
        margin: auto;
        padding: 0; 
        width: auto;
        max-width: auto;
        height: 66.7vw;
        max-height: auto;
    }
    .back-button {
        height: 40px;
        width: 40px;
    }
    .next-button {
        height: 40px;
        width: 40px;
    }
}

@media only screen and (max-width: 850px) {
    .back-button {
        top: 40%;
    }
    .next-button {
        top: 40%;
    }
}

@media only screen and (max-width: 700px) {
    .detail-gallery-column {
        width: 98%;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0 auto;
    }
    .detail-column {
        width: 98%;
        margin: 0 auto;
        height: 100%;
    }
    .detail-price {
        margin-left: 10px;
    }
    .detail-address {
        margin-left: 10px;
    }
    .detail-row {
        margin-left: 10px;
    }
}
@media only screen and (max-width: 500px) {
    .carousel-container {
        height: 80vw;
    }
    .back-button {
        z-index: 0;
        position: relative;
        margin: 0 25%;
    }
    .next-button {
        z-index: 0;
        position: relative;
        margin: 0 25% 0 0;
    }
}
@media only screen and (max-width: 400px) {
    .detail-contact-button {
        font-size: 16px;
        width: 48%;
    }
    .detail-tour-button {
        font-size: 16px;
        width: 48%
    }
}
@media only screen and (max-width: 350px) {
    .detail-contact-button {
        font-size: 15px;
    }
    .detail-tour-button {
        font-size: 15px;
    }
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
      }
      div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: $orange2;
        margin: -4px 0 0 -4px;
      }
      div:nth-child(1) {
        animation-delay: -0.036s;
      }
      div:nth-child(1):after {
        top: 63px;
        left: 63px;
      }
      div:nth-child(2) {
        animation-delay: -0.072s;
      }
      div:nth-child(2):after {
        top: 68px;
        left: 56px;
      }
      div:nth-child(3) {
        animation-delay: -0.108s;
      }
      div:nth-child(3):after {
        top: 71px;
        left: 48px;
      }
      div:nth-child(4) {
        animation-delay: -0.144s;
      }
      div:nth-child(4):after {
        top: 72px;
        left: 40px;
      }
      div:nth-child(5) {
        animation-delay: -0.18s;
      }
      div:nth-child(5):after {
        top: 71px;
        left: 32px;
      }
      div:nth-child(6) {
        animation-delay: -0.216s;
      }
      div:nth-child(6):after {
        top: 68px;
        left: 24px;
      }
      div:nth-child(7) {
        animation-delay: -0.252s;
      }
      div:nth-child(7):after {
        top: 63px;
        left: 17px;
      }
      div:nth-child(8) {
        animation-delay: -0.288s;
      }
      div:nth-child(8):after {
        top: 56px;
        left: 12px;
      }
    
  }

  
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}