.detail-page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.detail-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 25px;
  max-width: 1400px;
}

.detail-gallery-column {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 90vh;
  overflow-y: scroll;
}

.detail-column {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 48%;
  margin: 0 1%;
  height: 90vh;
  overflow-y: scroll;
  position: relative;
}

.detail-sticky-container {
  position: sticky;
  top: 0;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #545454;
}

.detail-row {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.detail-cta-row {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.detail-contact-button {
  width: 45%;
  height: 40px;
  color: #D97A49;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  background: #fff;
  border: 1px solid #D97A49;
}

.detail-tour-button {
  width: 45%;
  height: 40px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  background: #D97A49;
  color: #fff;
  border: none;
}

.detail-address {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #3A3C3F;
  margin: 5px 0;
}

.detail-price {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #3A3C3F;
  margin: 5px 0 0px 0;
  padding: 0;
}

.detail-par {
  font-family: "Nunito", sans-serif;
  color: #444444;
  font-size: 16px;
  margin: 15px 10px 0 10px;
  padding: 0;
}

.detail-text {
  font-family: "Nunito", sans-serif;
  color: #545454;
  font-size: 18px;
  margin: 5px 0;
  padding: 0 10px;
  border-right: 1px solid #8E8E8E;
}

.detail-text:last-child {
  border-right: none;
}

#grid-gallery {
  width: 100%;
  object-fit: cover;
}

.detail-facts-container {
  display: block;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin: 5px;
  position: relative;
}

.detail-header3 {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  color: #131313;
  width: 100%;
  margin: 25px 0;
  height: auto;
  position: relative;
}

.detail-header4 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: #3A3C3F;
  margin: 15px 0;
  position: relative;
}

.sub-fact-holder {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  width: 100%;
  position: relative;
}

.sub-fact-column {
  width: auto;
  min-width: 45%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.detail-list {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.detail-list-item {
  font-size: 18px;
  color: #444444;
  font-family: "Nunito", sans-serif;
}

@media only screen and (max-width: 700px) {
  .detail-container {
    display: flex;
    flex-flow: column-reverse;
  }

  .detail-gallery-column {
    width: 98%;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
  }

  .detail-column {
    width: 98%;
    margin: 0 auto;
    height: 100%;
  }

  .detail-price {
    margin-left: 10px;
  }

  .detail-address {
    margin-left: 10px;
  }

  .detail-row {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .detail-contact-button {
    font-size: 16px;
    width: 48%;
  }

  .detail-tour-button {
    font-size: 16px;
    width: 48%;
  }
}
@media only screen and (max-width: 350px) {
  .detail-contact-button {
    font-size: 15px;
  }

  .detail-tour-button {
    font-size: 15px;
  }
}

/*# sourceMappingURL=details.css.map */
